[Desktop Entry]
Name=Entombed
Version=1.0
Comment=Port: 12.11.2010
Vendor=BruceLee
Exec=run
BigIcon=ibig.png
Icon=ismall.png
Type=Application
Category=Games
Shared=2
